@import url(https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

@import url(components/container.css);

@import url(components/avatar.css);

@import url(components/button.css);

@import url(components/card.css);

@import url(components/list.css);

@import url(components/cards-podcast.css);

@import url(components/cards.css);


body {
  font-family: 'Spectral', serif;
  font-size: 16px;
  color: #386FA4;
  background: #f6f6f6;
}

h1, h2, h3 {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

h1 {
  color: #2F3032;
}

h2 {
  color: #537D8D;
}

ol {
  padding-bottom: 30px;
}
















