.list-inline {
  list-style: none;
    padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 40px;
  color: rgb(230, 230, 230);
}

#logo-facebook :hover {
  color:#1A70E5;
  transition: color 0.2s ease;
}

#logo-linkedin :hover {
  color:#0A66C2;
  transition: color 0.2s ease;
}

#logo-instagram :hover {
  color:#C62F77;
  transition: color 0.2s ease;
}

#logo-soundcloud :hover {
  color:#FF5601;
  transition: color 0.2s ease;
}
